RF_:output1.fa.treefile	32
RF_:output2.fa.treefile	32
RF_:output3.fa.treefile	30
RF_:output4.fa.treefile	32
RF_:output5.fa.treefile	24
RF_:output6.fa.treefile	32
RF_:output7.fa.treefile	34
RF_:output8.fa.treefile	34
RF_:output9.fa.treefile	30
RF_:output10.fa.treefile	28
RF_:output11.fa.treefile	20
RF_:output12.fa.treefile	10
RF_:output13.fa.treefile	32
RF_:output15.fa.treefile	30
RF_:output16.fa.treefile	26
RF_:output18.fa.treefile	32
RF_:output20.fa.treefile	32
RF_:output21.fa.treefile	28
RF_:output23.fa.treefile	28
RF_:output24.fa.treefile	26
RF_:output25.fa.treefile	30
RF_:output26.fa.treefile	28
RF_:output27.fa.treefile	30
RF_:output28.fa.treefile	18
RF_:output29.fa.treefile	24
RF_:output30.fa.treefile	20
RF_:output31.fa.treefile	26
RF_:output49.fa.treefile	22
RF_:output54.fa.treefile	24
RF_:output55.fa.treefile	12
RF_:output58.fa.treefile	14
RF_:output59.fa.treefile	24
RF_:output60.fa.treefile	16
RF_:output62.fa.treefile	22
RF_:output63.fa.treefile	22
RF_:output64.fa.treefile	18
RF_:output65.fa.treefile	14
RF_:output69.fa.treefile	24
RF_:output71.fa.treefile	30
RF_:output73.fa.treefile	24
RF_:output74.fa.treefile	22
RF_:output75.fa.treefile	32
RF_:output80.fa.treefile	30
RF_:output82.fa.treefile	34
RF_:output83.fa.treefile	34
RF_:output84.fa.treefile	32
RF_:output85.fa.treefile	28
RF_:output87.fa.treefile	32
RF_:output89.fa.treefile	30
RF_:output90.fa.treefile	32
RF_:output91.fa.treefile	34
RF_:output92.fa.treefile	26
RF_:output95.fa.treefile	34
RF_:output96.fa.treefile	34
RF_:output97.fa.treefile	34
RF_:output98.fa.treefile	34
RF_:output100.fa.treefile	34
